name: Build APK

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:

    - name: Checkout
      uses: actions/checkout@v3

    - name: Build APK
      uses: ArtemSBulgakov/buildozer-action@v1

    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: imagem-html-apk
        path: bin/*.apk
